<h1 id="h1-home">Home Page</h1>
<p>This is a protected page only visible to authenticated users! Refreshing the page will keep the user logged in. Navigating to <LinkTo @route="login">/login</LinkTo> while authenticated will redirect to /index.</p>
