/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
ul {
  display: inline-block;
  padding-left: 0;
}

li {
  display: inline;
  margin-right: 5px;
}