<div class="text-center">
  <h4>This is a protected page only visible to authenticated users!</h4>
  <h4>
    Do nothing for 10 seconds and you will be considered idle, your token will be invalidated.
  </h4>
</div>
