name: Ember Test
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        scenario:
          - ember-lts-2.16-ember-simple-auth-1.6
          - ember-lts-2.16-ember-simple-auth-2.0
          - ember-lts-2.18-ember-simple-auth-1.6
          - ember-lts-2.18-ember-simple-auth-2.0
          - ember-lts-3.4-ember-simple-auth-1.6
          - ember-lts-3.4-ember-simple-auth-2.0
          - ember-lts-3.4-ember-simple-auth-3.0
          - ember-lts-3.4-ember-simple-auth-4.0
          - ember-lts-3.8-ember-simple-auth-1.6
          - ember-lts-3.8-ember-simple-auth-2.0
          - ember-lts-3.8-ember-simple-auth-3.0
          - ember-lts-3.8-ember-simple-auth-4.0
          - ember-lts-3.12-ember-simple-auth-1.6
          - ember-lts-3.12-ember-simple-auth-2.0
          - ember-lts-3.12-ember-simple-auth-3.0
          - ember-lts-3.12-ember-simple-auth-4.0
          - ember-lts-3.16-ember-simple-auth-1.6
          - ember-lts-3.16-ember-simple-auth-2.0
          - ember-lts-3.16-ember-simple-auth-3.0
          - ember-lts-3.16-ember-simple-auth-4.0
          - ember-lts-3.20-ember-simple-auth-1.6
          - ember-lts-3.20-ember-simple-auth-2.0
          - ember-lts-3.20-ember-simple-auth-3.0
          - ember-lts-3.20-ember-simple-auth-4.0
          - ember-lts-3.24-ember-simple-auth-1.6
          - ember-lts-3.24-ember-simple-auth-2.0
          - ember-lts-3.24-ember-simple-auth-3.0
          - ember-lts-3.24-ember-simple-auth-4.0
          - ember-release-ember-simple-auth-1.6
          - ember-release-ember-simple-auth-2.0
          - ember-release-ember-simple-auth-3.0
          - ember-release-ember-simple-auth-4.0
    steps:
    - uses: actions/checkout@v2
    - name: Test scenario ${{ matrix.scenario }}
      uses: actions/setup-node@v2
      with:
        node-version: 10.x
    - run: npm install
    - run: npm run lint:js
    - run: node_modules/.bin/ember try:one ${{ matrix.scenario }} --skip-cleanup
